<div class="col-6" id="formJoueur">
    <h4>Ajout nouveau joueur</h4>
    <form [formGroup]="formJoueur" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" formControlName="nom" id="inputNom" aria-describedby="nom"
                placeholder="Entrez le nom du joueur">
        </div>



        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input formControlName="prenom" type="text" class="form-control" id="formGroupExampleInput"
                placeholder="Entrez le prénom du joueur">
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="date de naissance" formControlName="ddn">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>
        <div>
            <h4>Palmarès</h4>
            <div class="form-group">
                <label for="nr">Numéro</label>
                <input formControlName="nr" type="number" class="form-control" id="formGroupExampleInput"
                    placeholder="Entrez le n° du joueur">
            </div>
            <div class="form-group">
                <label for="poste">Poste</label>
                <input formControlName="poste" type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Entrez le poste du joueur">
            </div>
            <div class="form-group">
                <label for="tempsJeu">Temps de jeu</label>
                <input formControlName="poste" type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Entrez le temps de jeu du joueur">
            </div>
        </div>


        <button type="submit" class="btn btn-secondary" [disabled]="!formJoueur.valid">Submit</button>
    </form>
</div>
<p>
    Form Value: {{ formJoueur.value | json }}
</p>
